# Dependencies
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
temp/
uploads/
*.tmp

# Firebase - IMPORTANT: Keep these files private!
serviceAccountKey.json
serviceaccount.json
firebase-adminsdk-*.json

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Build
dist/
build/

package-lock.json